body {
    background-size: cover;
    transition: background-image 0.5s;
    background-color: #ccc;
    width: 100vw;
    height: 95vh;
}

header {
    height: 8vh;
    margin: 0;
    padding: 0;
}

.container {
    /*background-color: #f5f5f5d8;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 30px auto;*/
    height: auto;
    display: flex;
    height: 90vh;
}

#new_chat_receiver_space{
    display: none;
}

#conv_list_space {
    display: flex;
    flex-direction: column;
}

#right_space {
    background-color: white;
    height: 90vh;
    width: 50vw;
    display: none;
}

#left_space {
    height: 90vh;
    width: 20vw;
    overflow: scroll;
    margin-right: 5px;
    overflow-x: hidden;


}

#chat_writting_space{
    width: 90%;
    margin: auto;
}

#writting_space_input{
    width: 80%;
}
#writting_space_button{
    width: auto;
}

#chat_list_space {
    height: 80vh;
    overflow: scroll;
    font-size:100%;
    background-image:linear-gradient(top left,#333,black);
    background-attachment:fixed;
    overflow-x: hidden;
}

#chat_list_space p {
    margin: 20px 20px 20px 10px;
    padding: 5px 20px;
    border-radius: 15px;

    background-color: rgba(240, 240, 240, 1);
    width: fit-content;
    
    font-size: 15px;
    font-family:'Montserrat', sans-serif;
    color:#515151;
    max-width: 350px;
}

#chat_list_space .me{
    background-color: #e3effd ;
    margin-left: auto;
}

#chat_list_space .you{
    background-color: #f6f6f6;
}