body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.app-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #555;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.app-button:hover {
    background-color: #777;
}

.app-link {
    margin-right: 10px;
    color: #fff;
    text-decoration: none;
}

.profile-button {
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
}

.profile-button:hover {
    background-color: #777;
}

nav {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: 5vh;
}

.left-buttons,
.right-buttons {
    display: flex;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}